<div class="about-wraper">
  <h1>About Us</h1>
  <p>
    Quality and continuity are the foundation of our activities. In a
    family-owned business these basics have mainly contributed to our success
    and transformed our client´s confidence into our working capital. „TODO“ is
    being founded in 1939 by the merchants THOMAS and DOLL in the city of
    Remscheid, the center of the local tool industry region, developing business
    in Belgian Congo, later on in Abidjan, and establish itself as a specialist
    mainly for technical consumer goods. During the mid-fifties, Mr. Max Doll
    takes over representing the second generation of owners and extends
    activities towards East Africa. The company grows continuously by means of
    own branch offices. In the process of time operations spread to Aden,
    Bahrain, the United Arab Emirates, as well as Kuwait, Saudi Arabia and
    Libya. Starting in the 70's, the business experiences a change in direction,
    and the main activity from now on is to represent European suppliers for the
    utility-vehicles-industry in Australia, New Zealand and various countries in
    Latinamerica. In 2002 the legal residence is being moved from Remscheid to
    the city of Wuppertal.
  </p>
</div>
